html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "calibri";
}

.header-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.no-margin {
    margin: 0;
}

.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.navigation-bar nav {
    display: flex;
    align-items: center;
    color: white;
}

.navigation-bar nav a {
    text-decoration: none;
    color: white;
    border-bottom: 4px solid transparent;
    transition: all 1s ease-in-out;
    margin-left: 6px;
    margin-right: 6px;
}

.navigation-bar nav a:hover {
    border-bottom: 4px solid white;
    transition: all 1s ease-in-out;
}

.logo {
    width: 170px;
}

.apply-btn {
    padding: 12px;
    background-color: rgb(250, 187, 120);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.apply-btn:hover {
    background-color: rgb(255, 149, 35);
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
    margin-left: 16px;
}

.founders {
    padding: 32px;
    display: flex;
    justify-content: space-around;
}

.headline-section {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.founder-box {
    max-width: 220px;
    margin-left: 16px;
    margin-right: 16px;
}

.text-gray {
    color: #777777;
}

.bg1 {
    background-color: #f9f9f9;
}

.bg2 {
    background-color: #f1f1f1;
}

.explain-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 32px;
    margin-left: 32px;
    background-color:rgb(250, 187, 120);
}

.explain-section{
    padding: 16px;
    display: flex;
    justify-content: center;
}

.explain-box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

/* .footer{
    min-height: 400px;
    background-color: #454545;
    display: flex;
    justify-content: space-between;
} */

.footer-item{
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
}

.footer-item img{
    object-fit: contain;
}

.footer-item a{
    color: white;
    text-decoration: none;
}

.footer-item a:hover{
    text-decoration: underline;
}

.footer-row{
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #454545;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socal-media-img{
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.find-more{
    position: absolute;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-more img{
    width: 45px;
    object-fit: contain;
}

.apply-section{
    /* background-image: url("img/pexels-s-migaj-746386.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    min-height: 300px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.apply-btn-marign{
    margin-top: 20px;
    margin-bottom: 12px;
}

@media (max-width: 1000px){
    h1{
        font-size: 1.5em !important;
        text-align: center;
    }

    body{
        font-size: 2.0em;
    }

    p{
        margin-left: 32px;
        margin-right: 32px;
        text-align: center;
    }

    .hide-mobile{
        display: none !important;
    }

    .explain-section{
        flex-direction: column;
    }

    .footer-item{
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }

    .footer-row{
        flex-direction: column-reverse;
        align-items: center;
    }

    .founder-box{
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }

    /* .founder-box div, h3{
        min-width: 500px;
    } */

    .founders{
        flex-direction: column;
        align-items: center;
    }

    .apply-section{
        text-align: center;
    }

    /* .profile-img{
        width: 400px;
        height: 400px;
    } */

    /* .explain-img{
        width: 400px;
        height: 400px;
    } */

    /* .logo{
        width: 500px;
    } */

    .apply-btn{
        font-size: 1em;
        padding: 16px;
    }

    .apply-btn-marign{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .find-more{
        font-size: 1.0em !important;
    }

    .find-more img{
        /* width: 100px; */
        margin-top: 32px;
    }

    .socal-media-img{
        margin-left: 32px;
        margin-right: 32px;
        /* width: 60px;
        height: 60px; */
    }

    .explain-box{
        margin-bottom: 120px;
    }

    .explain-box h3{
        min-width: 300px;
    }
}

@media (max-width: 600px){
    h1{
        font-size: 1.0em !important;
    }

    body{
        font-size: 1.5em;
    }
}